@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
img{ border:none;}
body { font-family:"微软雅黑"; font-size:12px; line-height:22px; color:#333; border-top:3px solid #404445;}
div{ margin:0 auto;}
ul,li,dl,dd,dt{ list-style:none;}
input{ border:1px solid #ccc; background:#fff}
.left{ float:left}
.right{ float:right}
.clear{ clear:both;}
a{ color:#333; text-decoration:none}
a:hover{  text-decoration:none}
.bold{ font-weight:bold}
.font1{ font-size:14px;}
.font2{ font-size:18px;}
.en{ font-family:Arial, Helvetica, sans-serif;}
.blue{ color:#294690}
.white{color:#ffeed5}
.yellow{ color:#ffbf05}
.yingwen{ font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.yahei{ font-family:"微软雅黑"}
.black{ color:#000}

/*导航*/
.container{ background:#2b2b2b}
.nav{ width:1200px; overflow:hidden;}
.nav .logo{ width:99px; height:44px; float:left;}
.logo{margin-top:10px;}
.nav .form{ margin-left:20px;}
.nav .form a{display:block; color:#FFF; float:left; padding:0 30px; font-size:14px; line-height:66PX;}
.nav .form a:hover{ background-color:#0a7cd3; display:block}
.search{width:200px; background-color:#FFF; margin-top:20px; margin-left:100px;overflow:hidden}
.search a{display:block; color:#646464; line-height:20px; float:left;}
.search img{float:right; width:18px; height:18px; margin-right:10px;}
.search input{ background:url(../images/search.png) no-repeat 5px center; width:200px; height:26px; padding-left:30px; color:#999}
.login{ overflow:hidden; padding-left:30px; }
.login a:hover{ background: none repeat scroll 0% 0% #55ACEF; border-radius: 4px;display:block}
.login a{float:left;display:block; color:#FFF; padding:0 10px; margin:0 0 0 10px; margin-top:24px;}

/*菜单内容*/
.banner_body{ border-bottom:2px solid #CCC; height:46px;}
.menu{ position:absolute;width:100%; left:110px; line-height:45px;  overflow:hidden; text-align:center;}
.Sub-menu{ height:20px; width:1200px; margin-left:20px;}
.Sub-menu li{float:left; padding:0 20px;}
.Sub-menu li:hover{ border-bottom:3px solid #54a9e9;}
.Sub-menu li a:hover{ color:#54a9e9;}

/*类别菜单*/
.category{ width:100%; }
.category_menu{width:1200px; padding-top:4px;}
.category_menu div{float:left; margin-left:10px;}
.category_menu div a{line-height:40px;}
.category_menu div ul{ background-color:#FFF; z-index: 1; display:none; width:90px; position:absolute; 

filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
.category_menu div ul li{ border-bottom:1px solid #CCC; text-align:center; padding:3px;}
.category_menu div ul li a{ line-height:25px;}
.category_menu div ul li a:hover{ color:#55ACEF;}
.category_menu span{ width:30px; height:30px; margin:0 20px;}

/*图片内容*/
.text{width:1200px; position:relative; margin-top:30px;}
.box{ clear:both;float:left; left:110px;}
.box li{ margin:7px;  width:224px; height:auto; overflow:hidden; float:left; border-radius:4px; border: 1px solid #CCC; margin-bottom:20px;}
.box .li-img{ width:224px; border:none; height:170px; margin-right:10px; overflow:hidden; position:relative; }
.li-img a{ display:block; position:relative; width:224px; height:170px;}
.li-img a:hover{}
.li-img a div,.li-img a p{ display:none; }
.li-img a:hover div,.li-img a:hover p{ display:block; position:absolute; bottom:0; width:224px; left:0;}
.li-img a:hover div{ height:170px; background:#000; z-index:50;filter:alpha(opacity=50);-moz-opacity:.5;opacity:.5;  }
.li-img a:hover p{ height:170px; line-height:30px; z-index:100; text-align:center; color:#FFF;}

/*文字样式*/
.cot{ overflow:hidden; padding:5px; clear:both;}
.cotL{ width:36px; margin-top:8px; }
.cotR{ width:174px; overflow:hidden}
.cotR a{ float:left; display:block; padding:2px 8px; margin-top:6px; margin-left:5px; background:#fd8900; color:#fff}
.tag{ overflow:hidden; padding:5px; border-top:1px #ccc dashed;}
.tag a{ float:left; display:block; padding:2px 8px; margin-top:4px; margin-bottom:5px;margin-left:5px; background:#0570c1; color:#fff}
.tag img{width:18px; height:16px;}

/*页码*/
.number{ width:1200px; overflow:hidden;}
.number .pages{ text-align:center; }
.pages{ width:400px; padding:10px 0; padding-top:25px; clear:both;}
.pages span,.pages a,.pages b{ font-size:12px; margin:0 3px;}
.pages span font{ color:#f00; font-size:12px;}
.pages a,.pages b{ border:1px solid #ddd; background:#fff; padding:8px 14px; text-decoration:none}
.pages span { padding-right:10px }
.pages b,.pages a:hover{ background:#0A7CD3; color:#fff;}

/*footer 页脚*/
.footer{height:210px; background:#333; overflow:hidden; margin-top:50px;}
.footera{ color:#FFF; text-align:center; margin-top:35px;}
.footera a{color:#FFF; margin:0px 10px;}
.footera  p{ margin-top:20px; height:50px; font-size:13px; vertical-align:center; }
.footer img{ border:none;}
.footer .footer_weixin{ position:relative; float:right; margin-right:13%;  top:-90px; text-align:center;}
.footer .footer_weixin p{ color:#FFF;}

