<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<!-- 注解扫描包 -->
	<!-- 添加注解驱动 -->
	<mvc:annotation-driven />
	<!-- 开启注解 -->

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"></bean>


	<!-- 静态资源访问 -->
	<mvc:resources location="/resource/" mapping="/resource/**" />
	<mvc:resources location="/web/" mapping="/web/**" />
	<mvc:resources location="/Uploads/" mapping="/Uploads/**" />
	<mvc:resources location="/avatar/" mapping="/avatar/**" />


	<!-- <bean name="/" class="com.niuren.base.controller.IndexController" /> -->

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<bean id="jsonMessageConverter"
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760000" />
		<property name="maxInMemorySize" value="40960" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/user/*" /><!-- 映射路径后缀名 -->
			<mvc:mapping path="/set/*" /><!-- 映射路径后缀名 -->
			<mvc:mapping path="/recruit/*" /><!-- 映射路径后缀名 -->
			<mvc:mapping path="/project/publish" /><!-- 映射路径后缀名 -->
			<bean class="com.niuren.base.interceptor.LoginInterceptor" /><!-- 
				自定义拦截器 -->

		</mvc:interceptor>
	</mvc:interceptors>



</beans>